[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backports-abc = "*"
numpy = "*"
opencv-python = "*"
singledispatch = "*"
six = "*"
tornado = "*"

[requires]
python_version = "2.7.13"
